 /* body {
     font-family: Arial, sans-serif;
     background: #f8f9fa;
     padding: 20px;
 }

 h1 {
     text-align: center;
 }

 table {
     width: 100%;
     border-collapse: collapse;
     background: white;
 }

 th,
 td {
     padding: 10px;
     border: 1px solid #ccc;
     text-align: left;
 }

 th {
     background: #333;
     color: white;
 }
 #url{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    height:20px;
    padding:10px;
    width:80px;
    background-color: rgb(255, 255, 255);
    color:#000000;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

 }

 @media (max-width:600px){
    #productTable{
        display: block;
        width:100%;
    }

    
   

    
 } */

 #url{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    height:40px;
    padding:10px;
    width:80px;
    background-color: rgb(255, 255, 255);
    color:#000000;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

 }
  @media (max-width:867px){
    #productTable{
       max-width:100%;
        width:100%;
    }

    
   

    
 } 

